    <div class="card">
        <h3 class="card-title">{title}</h3>
        <div class="card-content">
          <p>
            {details}
          </p>
        </div>
        <div class="container-buttons">
          <form action="/delete" method="post">
              <input type="hidden" name="id" value="{id}">
              <button type="submit" class="icon-button">
                <i class="fas fa-trash"></i>
              </button>
          </form>
          <form action="/edit" method="get">
            <input type="hidden" name="id" value="{id}">
            <input type="hidden" name="title" value="{title}">
            <input type="hidden" name="details" value="{details}">
            <button type="submit" class="icon-button">
              <i class="fas fa-edit"></i>
            </button>
          </form>
        </div>
    </div>