    <div class="card">
        <h3 class="card-title">{title}</h3>
        <div class="card-content">
          <p>
            {details}
          </p>
        </div>
        <form action="/delete" method="post">
            <input type="hidden" name="id" value="{id}">
            <button type="submit">Deletar</button>
        </form>
        <form action="/update" method="get">
          <input type="hidden" name="id" value="{id}">
          <input type="hidden" name="title" value="{title}">
          <input type="hidden" name="details" value="{details}">
          <button type="submit">Editar</button>
        </form>
    </div>